---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import ProjectItem from "@/components/ProjectItem.astro";
import PageTitle from "@/components/PageTitle.astro";
import allLanguages from "@/i18n/languages";
import { getLanguageFromURL, useTranslations } from "@/i18n/utils";

const t = useTranslations(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);
const projects = await getCollection("projects", (item) => {
  return item.slug.split('/')[0] === lang && item.data.draft !== true;
});

export const getStaticPaths = () =>
  Object.keys(allLanguages).map((lang) => ({ params: { lang } }));
---

<MainLayout title={`${t('site.author')} - ${t('project.title')}`}>
  <PageTitle 
    title={t('project.title')}
    description={t('project.description')}
  />

  <div class="mb-8">
    <h1 class="font-bold text-xl mb-4 md:text-lg">{t('project.current')}:</h1>
    {
      projects
        .filter(project => project.data.status === 'in-progress').length === 0 ?
        <p class="text-textLight/75 dark:text-textDark/75">No current projects.</p> :
        projects
          .filter((project) => project.data.status === "in-progress")
          .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
          .map((project) => (
            <div class="ml-8">
              <ProjectItem project={project} />
            </div>
          ))
    }
  </div>

  <div>
    <h1 class="font-bold text-xl mb-4 md:text-lg">{t('project.past')}:</h1>
    {
      projects
        .filter(project => project.data.status === 'completed').length === 0 ?
        <p class="text-textLight/75 dark:text-textDark/75">No current projects.</p> :
        projects
          .filter((project) => project.data.status === "completed")
          .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
          .map((project) => (
            <div class="ml-8">
              <ProjectItem project={project} />
            </div>
          ))
    }
  </div>
</MainLayout>
