---
import MainLayout from "@/layouts/MainLayout.astro";
import PageTitle from "@/components/PageTitle.astro";
import Article from "@/components/Article.astro";
import { type CollectionEntry, getEntry } from "astro:content";

const data = (await getEntry("info", "about-me")) as CollectionEntry<"info">;
const { Content, headings } = await data.render();
---

<MainLayout title="Hieu Nguyen - About">
  <div class="w-full">
    <PageTitle title="Hi, I'm Hieu Nguyen 👋" />
    <Article headings={headings} toc={false}>
      <Content />
    </Article>
  </div>
</MainLayout>
