---
import Article from "@/components/Article.astro";
import Hero from "@/components/Hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { type CollectionEntry, getEntry } from "astro:content";

const data = (await getEntry("info", "welcome")) as CollectionEntry<"info">;
const { Content, headings } = await data.render();
---

<MainLayout title="Hieu Nguyen - Home">
  <div class="w-full">
    <Hero />
    <section id="about" class="w-full mt-8">
      <Article headings={headings} toc={false}>
        <Content />
      </Article>
    </section>
  </div>
</MainLayout>
