---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blog">;
};
const { post }: Props = Astro.props;
---

<div class="mb-6 pb-1 border-b border-baseDark/25 dark:border-baseLight/25">
  <a
    href=`/blog/${post.slug}`
    class="hover:opacity-75 leading-relaxed"
  >
    <h1 class="font-bold text-lg md:text-base">{post.data.title}</h1>
    <div
      class="flex items-center space-x-2 text-dark/75 dark:text-light/75"
    >
      <p>{post.data.publishDate.toLocaleDateString()}</p>
      <p>•</p>
      <p>{post.data.readingTime} min read</p>
    </div>
  </a>
</div>
