---
const date = new Date();
---

<footer
  class="flex items-center justify-between text-sm mt-16 py-8 text-dark/50 dark:text-light/50 leading-relaxed border-t border-dark/25 dark:border-light/25 md:flex-col md:space-y-2 md:text-xs"
>
  <div id="socials" class="flex space-x-4 underline items-center">
    <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">LinkedIn</a
    >
    <a target="_blank" href="https://github.com/nhthieu">Github</a>
    <a target="_blank" href="mailto:nguyenhotrunghieu0106@gmail.com">Gmail</a>
  </div>
  <div class="flex items-center">
    <p>&copy; {date.getFullYear()} Hieu Nguyen All Rights Reserved.</p>
  </div>
</footer>
