---
const date = new Date();
---

<footer
  class="flex items-center justify-between mt-12 pt-8 pb-12 text-dark/75 dark:text-light/75 leading-relaxed border-t border-dark/25 dark:border-light/25"
>
  <div id="socials" class="flex space-x-4 underline items-center">
    <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">linkedin</a>
    <a target="_blank" href="https://github.com/nhthieu">github</a>
    <a target="_blank" href="mailto:nguyenhotrunghieu0106@gmail.com">gmail</a>
  </div>
  <div class="flex items-center">
    <p>&copy; {date.getFullYear()} Hieu Nguyen All Rights Reserved.</p>
  </div>
</footer>
