---
import { Github, Mail, Twitter } from "lucide-react";
const date = new Date();

type Props = {
  className?: string;
};

const { className }: Props = Astro.props;
---

<footer
  class="w-full text-sm mt-12 py-6 text-foreground/75 leading-relaxed border-t"
>
  <div
    class=`${className} flex items-center justify-between md:flex-col md:space-y-3 md:text-xs`
  >
    <div class="flex flex-col md:items-center">
      <p>&copy; {date.getFullYear()} Hieu Nguyen | All Rights Reserved.</p>
      <p>
        Built with <a
          class="hover:text-primary hover:underline"
          target="_blank"
          href="https://astro.build/">Astro</a
        >
      </p>
    </div>
    <div id="socials" class="flex space-x-4 underline items-center">
      <a target="_blank" href="https://github.com/nhthieu" class="w-6 hover:opacity-50">
        <Github />
      </a>
      <a target="_blank" href="mailto:nhthieu16@proton.me" class="w-6 hover:opacity-50">
        <Mail />
      </a>
      <a target="_blank" href="https://twitter.com/pliryo" class="w-6 hover:opacity-50">
        <Twitter />
      </a>
    </div>
  </div>
</footer>
