---
import { GithubIcon, GoogleIcon, LinkedInIcon } from "./Icons";
const date = new Date();
---

<footer
  class="flex items-center justify-between text-sm mt-16 pt-4 pb-8 text-dark/75 dark:text-light/75 leading-relaxed border-t border-dark/25 dark:border-light/25 md:flex-col md:space-y-3 md:text-xs"
>
  <div id="socials" class="flex space-x-4 underline items-center">
    <!-- <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">LinkedIn</a> -->
    <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">
      <LinkedInIcon className="fill-dark/75 dark:fill-light/75 w-4"/>
    </a>

    <!-- <a target="_blank" href="https://github.com/nhthieu">Github</a> -->
    <a target="_blank" href="https://github.com/nhthieu">
      <GithubIcon className="fill-dark/75 dark:fill-light/75 w-4"/>
    </a>

    <a target="_blank" href="mailto:nguyenhotrunghieu0106@gmail.com">
      <GoogleIcon className="fill-dark/75 dark:fill-light/75 w-4"/>
    </a>
  </div>
  <div class="flex items-center">
    <p>&copy; {date.getFullYear()} Hieu Nguyen All Rights Reserved.</p>
  </div>
</footer>
