---
import { GithubIcon, GoogleIcon, LinkedInIcon } from "./Icons";
const date = new Date();
---

<footer
  class="flex items-center justify-between text-sm mt-16 py-6 text-textLight/75 dark:text-textDark/75 leading-relaxed border-t border-baseDark/25 dark:border-baseLight/25 md:flex-col md:space-y-3 md:text-xs"
>
  <div id="socials" class="flex space-x-4 underline items-center">
    <!-- <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">LinkedIn</a> -->
    <a target="_blank" href="https://www.linkedin.com/in/nhthieu16/">
      <LinkedInIcon className="fill-textLight/75 dark:fill-textDark/75 w-4"/>
    </a>

    <!-- <a target="_blank" href="https://github.com/nhthieu">Github</a> -->
    <a target="_blank" href="https://github.com/nhthieu">
      <GithubIcon className="fill-textLight/75 dark:fill-textDark/75 w-4"/>
    </a>

    <a target="_blank" href="mailto:nguyenhotrunghieu0106@gmail.com">
      <GoogleIcon className="fill-textLight/75 dark:fill-textDark/75 w-4"/>
    </a>
  </div>
  <div class="flex items-center">
    <p>Hieu Nguyen &copy; {date.getFullYear()} | All Rights Reserved.</p>
  </div>
</footer>
