---
import ThemeToggle from "./ThemeToggle";

type Props = {
  className?: string;
};

const { className }: Props = Astro.props;
---

<header class="h-20 mb-12 w-full border-baseDark/10 dark:border-baseLight/10">
  <div
    class={`${className} flex items-center justify-between mx-auto h-full`}
  >
    <div class="flex space-x-4">
      <a
        class=`hover:text-primaryLight dark:hover:text-primaryDark ${Astro.url.pathname === '/' && 'underline text-primaryLight dark:text-primaryDark'}`
        href="/">Home</a
      >
      <a
        class=`hover:text-primaryLight dark:hover:text-primaryDark ${Astro.url.pathname.includes('/projects') && 'underline text-primaryLight dark:text-primaryDark' }`
        href="/projects">Projects</a
      >
      <a
        class=`hover:text-primaryLight dark:hover:text-primaryDark ${Astro.url.pathname.includes('/blog') && 'underline text-primaryLight dark:text-primaryDark'}`
        href="/blog/1">Blog</a
      >
      <a
        class=`hover:text-primaryLight dark:hover:text-primaryDark ${Astro.url.pathname.includes('/about') && 'underline text-primaryLight dark:text-primaryDark'}`
        href="/about">About</a
      >
    </div>
    <ThemeToggle client:only />
  </div>
</header>
