---
import { Image } from 'astro:assets';
import profilePicture from "@/assets/me.jpg";
---

<section id="hero">
  <div class="flex flex-col items-center justify-center">
    <Image
      format='avif'
      quality='mid'
      src={profilePicture}
      alt="profile picture"
      class="rounded-full h-40 w-40 object-cover border border-solid border-dark dark:border-light md:h-36 md:w-36"
    />
  </div>
</section>
