---
import { Image } from "astro:assets";
import profilePicture from "@/assets/ryou-hi-compressed.jpg";
---

<section id="hero">
  <div class="flex flex-col items-center justify-center">
    <Image
      format="avif"
      quality="low"
      src={profilePicture}
      alt="profile picture"
      class="rounded-full h-36 w-36 object-cover border-4 border-solid md:h-32 md:w-32"
    />
  </div>
</section>
