---
type Props = {
  title: string;
  description?: string;
  className?: string;
};

const { title, description, className }: Props = Astro.props;
---

<div class={`${className} mb-16`}>
  <h1 class="text-3xl mb-2 md:text-2xl font-bold">{title}</h1>
  {description && <p class="leading-relaxed">{description}</p>}
</div>
