---
type Props = {
  page: number;
  prev: string | undefined;
  next: string | undefined;
};

const { page, prev, next }: Props = Astro.props;
---

<div
  class="w-full h-8 flex items-center mb-12 bg-secondary rounded-md overflow-hidden font-semibold text-sm sm:text-xs sm:h-6"
>
  <div class="w-20 h-full flex items-center justify-center">
    {
      prev && (
        <a
          href={prev}
          class="w-full h-full flex items-center justify-center hover:bg-primary/10 transition-all duration-150 ease-in-out"
        >
          <div>Prev</div>
        </a>
      )
    }
  </div>

  <div class="mx-auto font-medium">Page {page}</div>

  <div class="w-20 h-full flex items-center justify-center">
    {
      next && (
        <a
          href={next}
          class="w-full h-full flex items-center justify-center hover:bg-primary/10 transition-all duration-150 ease-in-out"
        >
          <div>Next</div>
        </a>
      )
    }
  </div>
</div>
