---
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
};
const { project }: Props = Astro.props;
---

<div class="mb-8 pb-1 border-b border-dark/25 dark:border-light/25">
  <a
    href=`/projects/${project.slug}`
    class="hover:opacity-75 transition-all duration-200 ease-out leading-relaxed"
  >
    <h1 class="font-bold text-lg md:text-base">{project.data.title}</h1>
    <p class="">{project.data.description}</p>
  </a>
</div>
