---
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
};
const { project }: Props = Astro.props;
---

<div class="mb-6 pb-1 border-b">
  <a href=`/projects/${project.slug}` class="hover:opacity-75 leading-relaxed">
    <h1 class="font-bold text-xl md:text-lg">{project.data.title}</h1>
    <p class="text-foreground/75">{project.data.description}</p>
  </a>
</div>
