---
import generateToc from "@/lib/generateToc";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
  className: string;
};

const { headings, className }: Props = Astro.props;
const toc = generateToc(headings);
---

{
  toc.length > 0 && (
    <div class={`toc ${className}`}>
      <h2 class="text-xl md:text-lg">On this page</h2>
      <nav>
        <ul class="border-l border-baseDark/30 dark:border-baseLight/25 pl-4 md:pl-2">
          {toc.map((heading) => (
            <TableOfContentsHeading heading={heading} />
          ))}
        </ul>
      </nav>
    </div>
  )
}
