---
import type { TocItem } from "@/lib/generateToc";

type Props = {
  heading: TocItem;
};

const { heading }: Props = Astro.props;
---

<li class="list-none">
  <a href={"#" + heading.slug} class="hover:underline no-underline">
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class="pl-4 md:pl-2">
        {heading.children.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
