---
import generateToc from "@/lib/generateToc";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
  className: string;
};

const { headings, className }: Props = Astro.props;
const toc = generateToc(headings);
---

{
  toc.length > 0 && (
    <div class={`toc ${className}`}>
      <h2 class="">Contents</h2>
      <nav>
        <ul class="">
          {toc.map((heading) => (
            <TableOfContentsHeading heading={heading} />
          ))}
        </ul>
      </nav>
    </div>
  )
}
