---
import MainLayout from "@/layouts/MainLayout.astro";
import PageTitle from "@/components/PageTitle.astro";
import Article from "@/components/Article.astro";
import { getEntry } from "astro:content";
import allLanguages from "@/i18n/languages";
import { useTranslations } from "@/i18n/utils";

export const getStaticPaths = () =>
  Object.keys(allLanguages).map((lang) => ({ params: { lang } }));

const t = useTranslations(Astro);
const data = await getEntry('info', 'about-me');
const {Content, headings} = await data.render();
---

<MainLayout title={`${t('site.author')} - ${t('about.title')}`}>
	<div class="w-full">
    <PageTitle title={`${t('about.description')}`}/>
		<Article headings={headings} toc={false}>
      <Content />
    </Article>
	</div>
</MainLayout>