---
import MainLayout from "@/layouts/MainLayout.astro";
import PageTitle from "@/components/PageTitle.astro";
import Article from "@/components/Article.astro";
import { CollectionEntry, getEntry } from "astro:content";
import allLanguages from "@/i18n/languages";
import { getLanguageFromURL, useTranslations } from "@/i18n/utils";

const t = useTranslations(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);

export const getStaticPaths = () =>
  Object.keys(allLanguages).map((lang) => ({ params: { lang } }));

const data = (await getEntry(
  "info",
  `${lang}/about-me`
)) as CollectionEntry<"info">;
const { Content, headings } = await data.render();
---

<MainLayout title={`${t("site.author")} - ${t("about.title")}`}>
  <div class="w-full">
    <PageTitle title={`${t("about.description")}`} />
    <Article headings={headings} toc={false}>
      <Content />
    </Article>
  </div>
</MainLayout>
