---
import Article from "@/components/Article.astro";
import Hero from "@/components/Hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { CollectionEntry, getEntry } from "astro:content";
import allLanguages from "@/i18n/languages";
import { getLanguageFromURL, useTranslations } from "@/i18n/utils";

const lang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslations(Astro);
const data = (await getEntry(
  "info",
  `${lang}/welcome`
)) as CollectionEntry<"info">;
const { Content, headings } = await data.render();

export const getStaticPaths = () =>
  Object.keys(allLanguages).map((lang) => ({ params: { lang } }));
---

<MainLayout title={`${t("site.author")} - ${t("home.title")}`}>
  <div class="w-full">
    <Hero />
    <section id="about" class="w-full mt-8">
      <Article headings={headings} toc={false}>
        <Content />
      </Article>

      <div class="flex flex-col mt-6 leading-relaxed italic">
        <a href="/cv.pdf" target="_blank" class="hover:underline"
          >&#128279; {t('home.resume')}
        </a>
        <a href="mailto:nguyenhotrunghieu0106@gmail.com" class="hover:underline"
          >&#128231; {t('home.contact')}</a
        >
      </div>
    </section>
  </div>
</MainLayout>
