---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout title='Hieu Nguyen - Projects'>
  <div>
    <h1 class="text-4xl mb-4">Projects</h1>
    <p class="text-xl leading-relaxed">Some are from school and some are side projects on my own time.</p>
  </div>
</MainLayout>