---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout title='Hieu Nguyen - Projects'>
  <div class="">
    <h1 class="text-4xl mb-4 md:text-3xl">Projects</h1>
    <p class="leading-relaxed">Some are from school and some are side projects on my own time.</p>
  </div>
</MainLayout>