---
// import '@fontsource-variable/inter';
// import '@fontsource/roboto';
import "@fontsource/noto-sans";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

type Props = {
  title: string;
};
const { title }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hieu Nguyen's personal website. A place where I showcase my profile and write blogs"
    />
    <title>{title}</title>
  </head>
  <body
    class="bg-light dark:bg-dark text-dark dark:text-light max-w-2xl mx-auto px-8 text-base md:text-sm sm:px-6"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
    return localStorage.getItem("theme");
  }
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    return "dark";
  }
  return "light";
})();

if (theme === "light") {
  document.documentElement.classList.remove("dark");
} else {
  document.documentElement.classList.add("dark");
}
window.localStorage.setItem("theme", theme);
</script>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
