---
// import '@fontsource-variable/inter';
// import '@fontsource/roboto';
import "@fontsource/noto-sans";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

type Props = {
  title: string;
};
const { title }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hieu Nguyen's personal website. A place where I showcase my profile and write blogs"
    />
    <title>{title}</title>

    <!-- prevent lightmode flickering -->
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>

  <body
    class="bg-baseLight dark:bg-baseDark text-textLight dark:text-textDark text-base md:text-sm"
  >
    <Header className="max-w-2xl px-8 sm:px-6"/>
    <div class="max-w-2xl mx-auto px-8 sm:px-6">
      <slot />
    </div>
    <Footer className="max-w-2xl mx-auto px-8 sm:px-6"/>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 0.3rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  .dark ::-webkit-scrollbar-track {
    background-color: #0f1419;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaa8a8;
    border-radius: 10px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #3b3d3f;
    /* border-radius: 2px; */
  }

  ::-webkit-scrollbar-thumb:active {
    background: #807e7e;
  }

  .dark ::-webkit-scrollbar-thumb:active {
    background: #535353;
  }
</style>
