---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import BlogItem from "@/components/BlogItem.astro";
import PageTitle from "@/components/PageTitle.astro";
import allLanguages from "@/i18n/languages";
import { useTranslations } from "@/i18n/utils";

export const getStaticPaths = () =>
  Object.keys(allLanguages).map((lang) => ({ params: { lang } }));

const t = useTranslations(Astro);
const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
---

<MainLayout title={`${t('site.author')} - ${t('blog.title')}`}>
  <PageTitle
    title={t("blog.title")}
    description={t("blog.description")}
  />
  <div>
    {
      posts
        .sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1))
        .map((post) => <BlogItem post={post} />)
    }
  </div>
</MainLayout>
